@model MediaPlayer.Models.Pjesma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pjesma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zanr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zanr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
